	:root {
		--primary-color: #5da4d0;  /* Blue */
	}
	#menu{
		position: relative;
		padding-bottom: 70px;
	}
	#menu ul
	{
		list-style-type: none ;
		position: fixed;
		width: 100%;
		background: var(--primary-color)	;
		padding: 0px;
		margin: 0px;
		overflow: hidden;
		justify-content: center;
		display: flex;
		font-size: 20px;
		align-items: center; 
		font-family: Arial, sans-serif;
		z-index: 2; 
	}

	#logo img {
		height: 180px;        
		width: 180px;        
		object-fit: cover;   
		border-radius: 80px; 
		position: fixed;
		top: 15%;            
		left: 80px;          
		transform: translateY(-50%); 
		z-index: 9999;          
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); 

	}



	#menu a{
		color:rgb(255, 255, 255);
		text-decoration: none;
		padding: 15px;
		text-align: center;
		display: block;
		margin-left: 10px;
	}


	#menu a:hover {
		transform: scale(1.1); 
		transition: transform 0.3s ease; 
	}

	.section h2 {
		text-align: center;
		font-size: 25px;
		color: #333;
		margin-bottom: 10px;
		position: absolute; 
		top: 0; 
		width: 100%;
		left: 0;
		padding-top: 20px; 
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.section {
		background-color: #fff; 
		padding: 100px;
		margin: 10px auto;
		width: 80%;
		border-radius: 10px; 
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
		box-sizing: border-box;
		position: relative; 
		direction: rtl;
		text-align: right; 
		font-family: Arial, sans-serif;
		font-size: 20px;
	}
	h3{
		font-size: 25px;
	}
	p:lang(en) {
		direction: ltr;  
		text-align: left; 
	}
	#photos img {
		height: 250px;        
		width: 250px;          
		object-fit: cover;     
		border-radius: 15px;  
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
		transition: transform 0.3s ease, box-shadow 0.3s ease; 
	}

	#photos img:hover {
		transform: scale(1.1); 
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
	}
	#photos {
		display: block;                
		text-align:center;
		gap: 20px;                    
	}
	#qrcoder {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center; 
	  }
	
	  #qrcoder img {
		margin-top: 20px; 
		height: 250px;         
	  }

	  .section hr {
		border-top: 2px solid var(--primary-color); 
		margin: 10px; 
		align-self:stretch; 

	  }

	  .fb-like {
		transform: scale(1.4);       
	  }

	  #like {
		text-align: center; 
	  }


	  #contact-form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 300px; 
		margin: 0 auto;
		text-align: center;
		padding: 20px;  
		border: 2px solid var(--primary-color); 
		border-radius: 10px; 
	  }
	  
	  /* Input and Textarea Styling */
	  .form-group input,
	  .form-group textarea,
	  #contact-form button {
		padding: 12px;
		font-size: 1rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		width: 100%;  
		box-sizing: border-box;
		font-family: inherit; 

	  }
	  
	  /* Submit Button Styling */
	  #contact-form button {
		background-color: var(--primary-color);
		color: white;
		border: none;
		cursor: pointer;
		font-size: 1.1rem;
	  }
	  
	  #contact-form button:hover {
		background-color: #0056b3;
	  }
	  

	  #about p {
		text-align: center; 
		line-height: 1.6;
	  }



	  
	  #playlist {
		display: block;
		text-align: center;
		border-radius: 15px;
	}
	
	#playlist iframe {
		width: 1000px;
		height: 500px;
	}
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 70px; 
	  }